:root {
    --color-accent: oklch(65% 50% 0); 
}


html {
    accent-color: var(--color-accent); 
}

nav ul, nav li {
    display: contents; 
}
nav {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200); 
    padding-bottom: 0.5em; 
    background-color: oklch(from var(--color-accent) 95% 5% h)
}

nav a {
    flex: 1; 
    text-decoration: none;
    color: inherit; 
    text-align: center; 
    padding: 0.5em; 
}

nav a.current {
    border-bottom: 0.4em solid oklch(90% 3% 200);
    padding-bottom: 0.1em;
}
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent); 
    background-color: oklch(from var(--color-accent) 95% 5% h);
}
form{
    width: 100%;


}
form label{
    display: grid;
    margin-top: 1em;
    margin-bottom: 0.5em;
    grid-template-columns: subgrid;
    align-self: center;
    grid-column: 1 / -1;

}
form input{

    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}
form textarea{

    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    resize: vertical;
}
form button{

    color: white;
    background-color: lightblue;
    border: 2px;
    width: 100%;
    

}
.projects article {
    display: grid;
    gap: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    background-color: #f9f9f9;
}
body {
   
    font: 100%/1.5 system-ui;
    display: block;
    margin: 8px;
    margin-inline: max(1em, (100% - 100ch) / 2);
    background-color: oklch(from var(--color-accent) 95% 5% h); 


  }
